{% extends 'base.html' %}
{% block title %}
<title>홈</title>
{% endblock title %}
{% block contents %}
    <h1>HOME</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성날짜</th>
          </tr>
        </thead>
        <tbody>
        {% for article in latest_article_list %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="/view_detail/{{article.id}}/">{{article.title}}</a></td>
            <td>{{article.name}}</td>
            <td>{{article.cdate}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <img src="static/images/닭.jpeg" alt="닭대가리" width="200" height="200">

{% endblock contents %}
      
